header{
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
#catPicture{
    height: 10%;
    width:  10%;
}
.navButton li{
    display: block;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;

}
#contentBox{
    width: 960px;
}